.theme1{
    background-color: #455A64 !important;
}

.theme2{
    background-color: #00838F!important;
}

.theme3{
    background-color: #0277BD !important;
}

.theme4{
    background-color: #673AB7 !important;
}

.theme5{
    background-color: #311B92 !important;
}

.theme6{
    background-color: #880E4F !important;
}