.first {
  background-color:#1A237E;
  color: white;
}

.icon {
  padding: 20px;
  margin: 20px;
  color: white;
}

.icon-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
