html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  padding-right: 40px;
  padding-left: 40px;
}
.first {
  background-color: #1e0f70;
  color: white;
}
.icon {
  margin: 10px;
  color: white;
}

.icon-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}