@import url("https://fonts.googleapis.com/cssfamily=Shadows+Into+Light&display=swap");
body {
  height: 100%;
  margin: 0;
  font-family: "Shadows Into Light", cursive;
}

p {
  padding-right: 40px;
  padding-left: 40px;
}
